In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.naive_bayes import GaussianNB

In [4]:
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import RandomOverSampler
from sklearn.metrics import classification_report

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
import matplotlib.pyplot as plt

In [7]:
df_train=pd.read_csv("train_u6lujuX_CVtuZ9i.csv",delimiter=",")

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
encoder = LabelEncoder()
df_train["Loan_Status"] = encoder.fit_transform(df_train["Loan_Status"])

In [10]:
df_train["Loan_ID"] = encoder.fit_transform(df_train["Loan_ID"])

In [11]:
df_train["Gender"] = encoder.fit_transform(df_train["Gender"])

In [12]:
df_train["Married"] = encoder.fit_transform(df_train["Married"])

In [13]:
df_train["Dependents"] = encoder.fit_transform(df_train["Dependents"])

In [14]:
df_train["Education"] = encoder.fit_transform(df_train["Education"])

In [15]:
df_train["Self_Employed"] = encoder.fit_transform(df_train["Self_Employed"])

In [16]:
df_train["Property_Area"] = encoder.fit_transform(df_train["Property_Area"])

In [17]:
df_train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [18]:
# filling na
# gender = unknown
#married =unknown
# depenency= mean
#self employed mean value
# loan amt median
#loan amt term median
#credit history median
df_train['Gender'].fillna("Unknown", inplace=True)
df_train['Married'].fillna("Unknown", inplace=True)
df_train['Dependents'].fillna(method="ffill", inplace=True)
df_train['Self_Employed'].fillna(method="ffill", inplace=True)
df_train['LoanAmount'].fillna(df_train['LoanAmount'].mean(), inplace=True)
df_train['Loan_Amount_Term'].fillna(df_train['Loan_Amount_Term'].mean(), inplace=True)
df_train['Credit_History'].fillna(df_train['Credit_History'].mean(), inplace=True)

In [19]:
tr_m_x=df_train[0:12]

In [20]:
tr_m_y=df_train['Loan_Status']

In [21]:
tr_m_x

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
5,5,1,1,2,0,1,5417,4196.0,267.000000,360.0,1.0,2,1
6,6,1,1,0,1,0,2333,1516.0,95.000000,360.0,1.0,2,1
7,7,1,1,3,0,0,3036,2504.0,158.000000,360.0,0.0,1,0
8,8,1,1,2,0,0,4006,1526.0,168.000000,360.0,1.0,2,1
9,9,1,1,1,0,0,12841,10968.0,349.000000,360.0,1.0,1,0
10,10,1,1,2,0,0,3200,700.0,70.000000,360.0,1.0,2,1
11,11,1,1,2,0,2,2500,1840.0,109.000000,360.0,1.0,2,1

In [22]:
tr_m_y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int32

In [23]:
scale=StandardScaler()

In [24]:
tr_m_x=scale.fit_transform(tr_m_x)

In [25]:
def sizing(dataframe,oversample=False):
    x=dataframe[dataframe.columns[:-1]].values
    if oversample:
        r=RandomOverSampler()
        tr_x,tr_y=r.fit_resample(x,tr_m_y)
    return tr_x,tr_y
X_tr,Y_tr=sizing(df_train,oversample=True)

In [26]:
X_tr

array([[  0.        ,   1.        ,   0.        , ..., 360.        ,
          1.        ,   2.        ],
       [  1.        ,   1.        ,   1.        , ..., 360.        ,
          1.        ,   0.        ],
       [  2.        ,   1.        ,   1.        , ..., 360.        ,
          1.        ,   2.        ],
       ...,
       [  9.        ,   1.        ,   1.        , ..., 360.        ,
          1.        ,   1.        ],
       [507.        ,   2.        ,   0.        , ..., 360.        ,
          1.        ,   2.        ],
       [600.        ,   0.        ,   0.        , ..., 180.        ,
          0.84219858,   2.        ]])

In [27]:
Y_tr

0      1
1      0
2      1
3      1
4      1
      ..
839    0
840    0
841    0
842    0
843    0
Name: Loan_Status, Length: 844, dtype: int32

In [28]:
mod=GaussianNB()

In [29]:
mod=mod.fit(X_tr,Y_tr)

In [30]:
Test=pd.read_csv("test_Y3wMUE5_7gLdaTN.csv",delimiter=",")

In [31]:
encoder = LabelEncoder()
Test["Loan_ID"] = encoder.fit_transform(Test["Loan_ID"])
Test["Gender"] = encoder.fit_transform(Test["Gender"])
Test["Married"] = encoder.fit_transform(Test["Married"])
Test["Dependents"] = encoder.fit_transform(Test["Dependents"])
Test["Education"] = encoder.fit_transform(Test["Education"])
Test["Self_Employed"] = encoder.fit_transform(Test["Self_Employed"])
Test["Property_Area"] = encoder.fit_transform(Test["Property_Area"])

In [32]:
Test.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [33]:
Test['LoanAmount'].fillna(Test['LoanAmount'].mean(), inplace=True)
Test['Loan_Amount_Term'].fillna(Test['Loan_Amount_Term'].mean(), inplace=True)
Test['Credit_History'].fillna(Test['Credit_History'].mean(), inplace=True)

In [34]:
x=Test[Test.columns[:]].values

In [35]:
y_predict=mod.predict(x)

In [36]:
x.shape

(367, 12)

In [42]:
y_predict

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])